.vehicle-container {
  width: 300px;
  height: 500px;
  float: left;
}
.route-container {
  width: 500px;
  height: 500px;
  float: left;
}
.post-container {
  float: left;
}
#map-canvas {
  width: 80%;
  height: 300px;
}
