<div>
	<p>My Route </p>

	<div class="canvas-wheeli-from" style=" width: 250px; float: left">
		<label for="startLocation">wheeli from </label>
		<input id="startLocation" type="text"></input>
	</div>
	
	<div style="float: left">
		<label for="endLocation">wheeli to </label>
		<input id="endLocation" type="text"></input>
	</div>
	<br>
	<div style="width: 25%; float: left">
		<label for="datepicker">date </label>
		<input type="text" id="datepicker" class="input-small">
	</div>

	<div style="float: left">
		<label for="timeText">time</label>
		<input type="text" id="timeText" class="input-small">
	</div>


	<div style=" float: left">
		<label style="margin-left:40px">Meeting Place:</label>
	</div>

	<div id="map-canvas" style="margin: auto">
	</div>

</div>