<div class="span4">
	<p><span>Seats</span><span> ADD SEATS</span>
	
	
	<h3> My Rates</h3>
	<p><span>$</span> 
		<select>
			<option value="4">4</option>
			<option value="5">5</option>
			<option value="6">6</option>
			<option value="7">7</option>
			<option value="8">8</option>
			<option value="9">9</option>
			<option value="10">10</option>
			<option value="11">11</option>
			<option value="12">12</option>
			<option value="13">13</option>
			<option value="14">14</option>
			<option value="15">15</option>
			<option value="16">16</option>
			<option value="17">17</option>
		</select> 
	</br>

	<input type="checkbox">Automatic confirmation<br>
	<input type="checkbox">Manual confirmation<br>

	<h5> Personal Note</h5>
	<textarea name="note"  rows="5"  ></textarea> </br>

	<button type="button" class="post-button">post</button>
</div>